In [5]:
import pandas as pd
import numpy as np

1. If you assign "None" to integer and object column , then it will become NaN in integercolumn and object "None" in objectcolumn.
2.

In [10]:
s = pd.DataFrame({'A':np.random.randint(1,5,5),
                 'B':['Ali','hassan','Ahmad','Manan','Kazmi'],
                 'C':pd.Timestamp('20201115')},
                 )
s

   A       B          C
0  4     Ali 2020-11-15
1  2  hassan 2020-11-15
2  3   Ahmad 2020-11-15
3  1   Manan 2020-11-15
4  3   Kazmi 2020-11-15

In [18]:
s['C'][[0,1,2,3]] # Null values in Datetime is representied by NaT.

0          NaT
1   2020-11-15
2   2020-11-15
3   2020-11-15
Name: C, dtype: datetime64[ns]

In [22]:
print(s.dtypes)
s.loc[[0],['A']] = None
s.loc[[0],['B']]=  None

A           float64
B            object
C    datetime64[ns]
dtype: object

In [23]:
s

     A       B          C
0  NaN    None        NaT
1  2.0  hassan 2020-11-15
2  3.0   Ahmad 2020-11-15
3  1.0   Manan 2020-11-15
4  3.0   Kazmi 2020-11-15